.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#navHome:hover {
    background-color: #e7e7e7;
}

#navLogin:hover {
    background-color: #e7e7e7;
} 

#navSignUp:hover {
    background-color: #e7e7e7;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}