.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#forgotPW {
    width: 75%;
}

#navHome:hover {
    background-color: #e7e7e7;
}

#navLogin:hover {
    background-color: #e7e7e7;
}

#navSignup:hover {
    background-color: #e7e7e7;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}